doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/paperwallet/pwallet-style.css')
    script(type='text/javascript', src='/javascripts/paperwallet/coin.js')

  body
    block content
 